* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  padding: 0 10%;
  background-image: url("images/pattern-curve.svg");
  background-position: bottom left;
  background-repeat: no-repeat;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 300px 0;
  background: url("images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.hero {
  position: absolute;
  width: 50%;
  right: 0;
  z-index: 0;
}

.heroImg {
  width: 90%;
  height: 100%;
  box-shadow: 0 20px 20px hsl(240, 18%, 77%);
  right: 0;
}

.toggle {
  position: absolute;
  bottom: -15px;
  left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 1px hsl(240, 38%, 20%);
  overflow: hidden;
}

.toggle div {
  padding: 7px 20px;
  cursor: pointer;
}

.toggle div:hover {
  background-color: hsl(240, 18%, 77%);
}

.toggle img {
  width: 8px;
}

section {
  background-image: url("images/pattern-quotes.svg");
  background-position: 15% top;
  background-repeat: no-repeat;
  padding: 60px 0;
  position: absolute;
  left: 0;
  z-index: 2;
  width: 60%;
}

section .comment {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 2rem;
  color: hsl(240, 38%, 20%);
}

.author {
  display: flex;
  font-weight: 700;
  color: hsl(240, 38%, 20%);
}

.position {
  color: hsl(240, 18%, 77%);
  font-weight: 300;
}

@media only screen and (max-width: 375px) {
  body {
    padding: 0;
    min-height: 0vh;
  }

  main {
    flex-direction: column;
    padding: 0;
  }

  .hero {
    width: 100%;
    padding: 15%;
    background-image: url(images/pattern-bg.svg);
    background-size: contain;
  }

  .heroImg {
    width: 100%;
    z-index: 2;
  }

  section {
    width: 100%;
    margin-top: 400px;
    text-align: center;
    padding: 25px;
    background-position: 50% top;
    background-size: 55px;
  }

  section .comment {
    font-size: 18px;
  }

  .author span {
    display: block;
  }

  .toggle {
    bottom: 44px;
    left: 50%;
    transform: translate(-50%);
  }
}
